#container{
    width: 200px;
    height: 130px;
    background-color:yellow;
    position: relative;

}
#rec1{
    background-color: blue;
    width:50px;
    height:50px;
    position: absolute;
    
    

}
#rec2{
    background-color: blue;
    width:50px;
    height:50px;
    position: absolute;
    top:80px;


}
#rec3{
    background-color: blue;
    width:120px;
    height:50px;
    position: absolute;
    left:80px ;

}
#rec4{
    background-color: blue;
    width:120px;
    height:50px;
    position: absolute;
    top:80px;
    left:80px;

}
