/*#selection -tag/
/*h1{
    background-color: blueviolet;
}
h2{
    background-color: antiquewhite;
}

 /*#id base selection* we have two h2 and we want to make one of them coloured/

 #first{
    background-color: azure;

 }
 #second{
    background-color: lawngreen;
 }
 #third{
    background-color: paleturquoise;
 }
 #fourth{
    background-color: brown;
 }
    */
/*#class based selection#   *
.second{
    background-color: aquamarine;
 }
    */
/*h1{
   background-color: rgb(146, 177, 21);
}

h2{
   background-color:hsla(0, 40%, 46%, 0.6) ;
   
}*/
/*font*/
/*h1{
   font-size: 80px;
}
li{
   font-size: 40px; 
}*/
/*>font with parent child concept em*/
/*isme kya ki actual value n deke child yani jo bhi main heading k just
neeche h parent yni us main heading k just upr wala part*/
/*h2{
   font-size: 80px;
}
li{
   font-size: 2em  ;
}*/
/*>font size with vw and vh*/
/*vw and vh yani font size wrt to width and height of screen*/
/*h2{
   font-size: 10vw;
}
li{
   font-size: 3vh;
}*/
/*>font family*/
/*li{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/
/*>font weight* ,font style*/
/*h2{
   font-weight: 1500;
   font-style: italic;
}*/
/*using google font*/
h2{
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}



