.container{
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    /*for row and col arrang*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    /*flex-wrap: wrap;*/
    /*justify content work around main axis and 
    its main axis depends on flex direction*/
    /*align items work around cross axis*/
    
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;


}
.first{
    background-color: blueviolet;
    /*in order to use vacant space*/
    flex-grow: 1;
    /*flex-shrink: 100px;
    flex-basis:100px ;*/
    /*flex basis overwrite the main data

    /*by default zero hota h */
    /*jitna bhi khali spce h uska 1 part ye lega*/
}
.second{
    background-color: brown;
    flex-grow:2;
    /*jitna bhi khali spce h uska 2 part ye lega*/
}
.third{
    background-color: aqua;
    align-self: flex-end;
}
.fourth{
    background-color: rgb(233, 233, 49);
    

}