*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
h1{
    background-color: rgb(161, 244, 83);
    text-align: center;
    margin-bottom: 20px;
}

.box{
    width: 370px;
    height:370px;
    background-color: rgb(144, 222, 71);
    padding: 30px;
    border-radius: 40px;
    
}
label{
    font-size: 23px;
    font-weight: 200;
}
input{
    width:100%;
    height:30px;
    border-radius:5px;
    padding:10px;
}
button{
    background-color: bisque;
    cursor:pointer ;
}